.note {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea,
button {
  margin-bottom: 10px;
}
